
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* General classes and ids*/
body{
    font-family: "Open Sans", sans-serif;
    color: #262730;
}

footer,
.background-color--sunny{
    background-color: #e7b76f;
 }
 
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--sunny {
    background-color:  #e7b76f;
}

.block-divider--rose{
    background-color:  #df2935;
}
 
.block-divider--short {
    width: 35px;
}

.btn--rose{
    color: white;
    background-color: #df2935;
    border-color: white;
}

.btn--rose-light{
    color: #df2935;
    background-color: white;
    border-color:#df2935;;
}

a:hover,
button:hover{
    background: rgba(55,63,81,0.2);
    color:#ffffff;
}

/* Header*/
/* Since the header is fixed-top it hides content which is a little confusing when having navigated with navbar. And that is why its made a little opaque */
header{
    background:rgb(231, 183, 111, 0.7);
}
#logo{
    color: #262730; 
    border-style: solid;
    border-color: #262730;
}
 
.navbar-brand{
    padding-right: .3125rem;
    padding-left: .3125rem;
}

/* Callout-section with hero-image */
.hero-image{ 
    height: 75vh;
    background-image: url("../images/hero-img.png");
    background-color: #e7b76f;
   /* background-color: #e9ecef; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.callout{
    background: rgba(55,63,81,0.2);
}

/* Quotes-section */
.quotes-container{
    padding: 2rem 2rem 4rem 2rem;
}

.quotes-bg{
    background-color: #e9ecef;
} 
 
/* Classes-section */
.classes-mg{
    margin: 0 1% 4%;
}

.hero-img-classes{
    height: 20vh;
    background-color: #e8e8e8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.hero-img-ess{
  background-image: url("../images/hero-img-ess.png");  
}

.hero-img-pro{
  background-image: url("../images/hero-img-pro.png");  
}

.hero-img-mam{
  background-image: url("../images/hero-img-mam.png");  
}

.hero-img-pre{
  background-image: url("../images/hero-img-pre.png");  
}

.hero-img-vin{
  background-image: url("../images/hero-img-vin.png");  
}

.opaque-bg{
    background: rgba(255,255,255,0.5);
    margin: 0;
}

/* Otherwise the picture is cut horizontally in larger media */
@media (min-width: 992px){
    .hero-image{
        background-size:contain; 
    }
}