
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
}
#logo{
    color: black;
    border-style: solid;
    border-color: black;
}
.navbar-brand{
    padding-right: .3125rem;
    padding-left: .3125rem;
}
#header,
#footer,
.background-color--sunny{
    background-color: #e7b76f;
}

.hero-image{ 
    height: 75vh;
    background-image: url("../images/hero-image.png");
    background-color: #e8e8e8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.callout{
    background: rgba(55,63,81,0.2);
    color: #ffffff;
}
.quotes-container{
    padding-top: 75px;
    padding-bottom: 75px;
}
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--sunny {
    background-color:  #e7b76f;
}

.block-divider--rose{
    background-color:  #df2935;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

.btn--rose{
    color: white;
    background-color: #df2935;
    border-color: #df2935;
}

.btn--rose-light{
    color: #df2935;
    background-color: white;
    border-color: white;
}