/* imported fonts from from Google Fonts: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* General classes*/
html{
   scroll-behavior: smooth;
   font-size: 62.5%; 
}
body{
    font-family: "Open Sans", sans-serif;
    color: #262730; 
    font-size: 1.6rem;
} 
.banner{
    height: 20rem;
    background-color: #e7b76f;
}
.section-container{
     min-height: 90vh;
     padding-top: 10rem;
 }

.block-divider {
    height: 0.5rem;
    border: 0;
    background-color:  #e7b76f;
    width: 4rem;
    margin-bottom: 4rem;
} 
.jumbotron-mg{
    margin: auto 25%;
}
 
/* Colors */ 
.background-color--sunny{
    background-color: #e7b76f;
 }

.background-color--white{
     background-color: #ffffff;
 }
  
.color--white{
     color: #ffffff;
 }

 /* buttons */
.btn--rose{
    color: white;
    background-color: #df2935;
    border-color: white;
}
.btn--rose-light{
    color: #df2935;
    background-color: white;
    border-color:#df2935;
}

.btn--rose:hover,
.btn--rose-light:hover{
    background: #373f51;
    color:#ffffff;
}

/* icons */
.icon-rose{
    color: #df2935;
    opacity: 1;
}
.icon-white{
    color: #ffffff;
}
.icon-black{
    color: #262730;
} 
 
/* Header*/  
#logo{
    color: #ffffff;
    border-style: solid;
    border-color: #262730;
    font-size: 2rem;
}
.navbar-brand{
    padding-right: .3rem;
    padding-left: .3rem;
}
.nav-link {
    color: #ffffff;
} 
.navbar-toggler{
    font-size: 2rem;
}
#logo:hover,
.nav-link:hover{
    color:#262730;
}
 
/* Callout-section with hero-image */
#hero-img-callout{ 
    height: 70vh;
    background-image: url("../images/hero-img.png");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;  
} 
.callout{
    background: rgba(55, 63, 81, 0.5);
    color: #ffffff;
} 

/* Inbetween-section*/
.fa-arrow-down:hover{
    transform: scale(1.5);
}

/* What is pilates-section */ 
#hero-img-whatis{
    max-width: 100vh;
    height: 45vh;
    background-image: url("../images/pilates.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
 
/* Our classes-section */
.classes-mg{
    margin: 0 1% 4%;
} 
.hero-img-classes{
    height: 20vh;
    background-color: #e8e8e8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 0.1rem #262730;
    padding: 0.2rem;
}  
.hero-img-ess{
  background-image: url("../images/hero-img-ess.png");  
} 
#hero-img-pro{
  background-image: url("../images/hero-img-pro.png");  
} 
#hero-img-mam{
  background-image: url("../images/hero-img-mam.png");  
} 
#hero-img-pre{
  background-image: url("../images/hero-img-pre.png");  
} 
#hero-img-vin{
  background-image: url("../images/hero-img-vin.png");  
} 
.opaque-bg{
    background: rgba(255,255,255,0.5);
    margin: 0;
}

/* The Studio-section */
#hero-img-studio{
    max-width: 100vh;
    height: 45vh;
    background-image: url("../images/studio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Quotes-section */
.quotes-bg{
    background-color: #ffffff;
    height: 50vh;
}  
.quotes-img{
    width: 60%;
    margin: 10% 0 auto 20%;
}
.quotes-txt{
    width: 60%;
    margin: 10% 20% auto 5%;
}
.carousel-indicators li{
    background-color: #df2935;
}
.carousel a:hover{
    background: #ffffff;
}
.hidden{
    color: #ffffff;
}

/* Footer */
 .hover-lg:hover{
     transform: scale(1.5);
 }


 /** Media */
/* Otherwise the picture is cut horizontally in larger media */
@media screen and (min-width: 992px){
    #hero-img-callout{
        background-size:contain; 
    }
}

/* Hiding photos that are beside in larger media and thus want to center text */
@media screen and (max-width: 576px){
    .jumbotron-mg{
        margin: auto;
    }
    .quotes-txt{
        width: 60%;
        margin: auto;
    }
} 
 
/* When viewport has a small height - let every section take at least the whole viewport-height otherwise it look strange*/
@media screen and (max-height: 700px) {
    .section-container{
     min-height: 700px; 
 }
}